html {
	box-sizing: border-box;
	font-family: "Dosis", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	background-color: #efeee9;
	text-align: center;
}

h1 {
	color: #552403;
	margin: 0;
}

a {
	text-decoration: none;
	color: #efeee9;
}

li {
	list-style-type: none;
	background-color: #9a816d;
	color: #efeee9;
	border: 1px solid;
	border-color: #795437;
	display: block;
}

li:hover {
  background-color: #795437;
}

ul {
	padding: 0;
}

main {
	background-color: #fff;
}

body{
	margin: 0;
}
